tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data

# Neovim junk
.netrwhist
undo/
backups/
swp/
*.log

# Lazy.nvim plugin state (optional: some people like to track lazy-lock.json, others don't)
# I recommend TRACKING lazy-lock.json so your laptops stay perfectly synced.
# but EXCLUDE the actual plugin source code (handled by Lazy)
